<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>FLEXPEAK</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="ThemeDesign" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- App Icons -->
    <link rel="shortcut icon" href="<%= BASE_URL %>assets/images/favicon.ico"><!-- App css -->
    <link href="<%= BASE_URL %>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<%= BASE_URL %>assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="<%= BASE_URL %>assets/css/style.css" rel="stylesheet" type="text/css">
</head>
  
<body>

    <div id="app"></div>

    <script src="<%= BASE_URL %>assets/js/jquery.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/bootstrap.bundle.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/modernizr.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/waves.js"></script>
    <script src="<%= BASE_URL %>assets/js/jquery.slimscroll.js"></script><!-- App js -->
    <script src="<%= BASE_URL %>assets/js/app.js"></script>
</body>
</html>