<template>
<div id="remove">
</div>
</template>


<script>
import { http } from '../../http'
import router from '../../router'


export default {
    name: 'remove',
    created() {
    this.del();
  },
  methods: {
    del: function () {
            http.delete('aluno/'+this.$route.params.id).then(res =>{
            this.$router.push({ name: 'alunos' })
        })
    }
  }
}
</script>