<template>
<div id="professor">
<Header/>
 <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0">Adicionar Aluno</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right d-none d-md-block">
                                    <div class="dropdown">
                                        <router-link to="alunos"><button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false"><i
                                                class="ti-angle-left mr-1"></i> Voltar</button></router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end page title end breadcrumb -->
            <form @submit.prevent="add" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Nome</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_nome" placeholder="Digite o nome do Aluno" required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Data Nascimento</label>
                                    <div class="col-sm-10"><input class="form-control" type="date"
                                            v-model="form.alu_dtnascimento" placeholder="Digite a data de nascimento" required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Cep</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_cep" placeholder="Digite o CEP" v-on:blur="getCep()" required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Logradouro</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_logradouro" readonly required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Bairro</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_bairro" readonly required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Cidade</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_cidade" readonly required></div>
                                </div>
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Número</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.alu_numero" required></div>
                                </div>
                                <div class="form-group row"><label for="example-date-input"
                                        class="col-sm-2 col-form-label">Curso</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" v-model="form.alu_cur_id" required>
                                            <option v-for="c in cursos" v-bind:value="c.id" v-bind:key="c.id">{{ c.cur_nome }}</option>
                                        </select>
                                        </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Adicionar Aluno</button>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </form>
        </div><!-- end container-fluid -->
    </div><!-- end wrapper -->
<Footer/>
</div>
</template>

<script>
import Header from '../../components/Header'
import Footer from '../../components/Footer'
import { http } from '../../http'
import router from '../../router'
export default {

    name: 'CursoAdd',
    components: {
      Header,
      Footer
    },
    created() {
    this.getCursos();
    },
 data: () => ({

    cursos: [],
        form: {
            alu_nome: '',
            alu_dtnascimento: '',
            alu_logradouro: '',
            alu_numero: '',
            alu_bairro: '',
            alu_cidade: '',
            alu_cep: '',
            alu_cur_id: ''
        }
    }),
    methods: {
        getCep() {
            this.$viaCep.buscarCep(this.form.alu_cep).then((res) => {
                this.form.alu_logradouro = res.logradouro
                this.form.alu_bairro = res.bairro
                this.form.alu_cidade = res.localidade
                this.form.alu_estado = res.uf
            })
        },
        add: function () {
            let data = {
                alu_nome: this.form.alu_nome,
                alu_dtnascimento: this.form.alu_dtnascimento,
                alu_logradouro: this.form.alu_logradouro,
                alu_numero: this.form.alu_numero,
                alu_bairro: this.form.alu_bairro,
                alu_cidade: this.form.alu_cidade,
                alu_cep: this.form.alu_cep,
                alu_cur_id: this.form.alu_cur_id
            }
            http.post('aluno', data).then(res =>{
                this.$router.push({ name: 'alunos' })
            }).catch(err => {
                if(err.status === 422){
                    alert("Verifique os campos obrigatórios")
                }
            })
        },
        getCursos() {
            this.$http.get('curso').then(res => {
                this.cursos = res.data;
        });
    }
    }
}
</script>