<template>
    <Login/>
</template>

<script>
import Login from '../components/Login'
export default {
    name: 'Home',
    components: {
      Login,
    },
    mounted() {
    this.checkAuth();
    },
    methods: {
      checkAuth(){
        if(localStorage['token'] != "")
        this.$router.push({ name: 'principal' })
      }
    }
}
</script>
