<template>

  <div id="logout">
  
  </div>
    
</template>

<script>
import router from '../router'
export default {
    name: 'Logout',
    created() {
    this.Logout();
    },
    methods: {
      Logout(){
        localStorage['token'] = ""
        this.$router.push({ name: 'home' })
      }
    }
}
</script>
