<template>
<div ref="pdf">
    <button @click="download">Download PDF</button>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Curso</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="aluno in alunos" v-bind:key="aluno.id">
                    <td>{{ aluno.alu_nome }}</td>
                    <td>{{ aluno.alu_dtnascimento }}</td>
                    <td>{{ aluno.pro_nome }}</td>
                    <td>{{ aluno.cur_nome }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
import jsPDF from 'jspdf' 

export default {
  data: () => ({
    alunos: []
  }),
    name: 'pdf',
    created() {
    this.getAlunos();
  },
  methods: {
    download() {
    const doc = new jsPDF();
    const contentHtml = this.$refs.pdf.innerHTML;
    doc.fromHTML(contentHtml, 15, 0, {
        width: 250,
        height: 100
    });
    doc.save("sample.pdf");
    },
    getAlunos() {
      this.$http.get('aluno').then(res => {
        this.alunos = res.data;
      });
    }
  }
}
</script>

<style>
    tabela1{
        width: 100%;
        border: 1px;
    }
</style>