<template>
  <div id="principal">
      <Dashboard/>
  </div>
</template>


<script>
import Dashboard from '../components/Dashboard'
export default {
    name: 'Principal',
    components: {
      Dashboard
    }
}
</script>