<template>
<div>
<Header/>
        <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-xl-12">
                    <router-link to="/pdf"><button type="button" class="btn btn-primary btn-lg btn-block waves-effect waves-light">Gerar um PDF com a Lista de Alunos</button></router-link><br><br>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title mb-4">Ultimos Alunos Cadastrados</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Data de Nascimento</th>
                                            <th scope="col">Endereço</th>
                                            <th scope="col">Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="aluno in alunos" v-bind:key="aluno.id">
                                            <th scope="row">#</th>
                                            <td>{{ aluno.alu_nome }}</td>
                                            <td>{{ aluno.alu_dtnascimento }}</td>
                                            <td>{{ aluno.pro_nome }}</td>
                                            <td>{{ aluno.cur_nome }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end wrapper -->
    <Footer/>
    </div>
</template>

<script>
import Header from './Header'
import Footer from './Footer'
export default {

  data: () => ({
    alunos: []
  }),
    name: 'Principal',
    components: {
      Header,
      Footer
    },
    created() {
    this.getAluno();
  },
  methods: {
    getAluno() {
      this.$http.get('aluno').then(res => {
        this.alunos = res.data;
      });
    }
  }
}
</script>