<template>
        <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">© 2019 Diogo Oliveira <span class="d-none d-md-inline-block">- Feito com <i class="mdi mdi-heart text-danger"></i> para FlexPeak.</span></div>
            </div>
        </div>
    </footer><!-- End Footer -->
</template>