<template>
    <div class="header-bg">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">
                    <!-- Logo-->
                    <div><a href="#" class="logo"><img src="assets/images/logo.png" alt="" style="padding-top: 12px" height="50"></a>
                    </div><!-- End Logo-->
                    <div class="menu-extras topbar-custom navbar p-0">
                        <ul class="list-inline ml-auto mb-0">
                            <li class="list-inline-item dropdown notification-list nav-user"><a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="assets/images/avatar1.png" alt="user" class="rounded-circle"> <span class="d-none d-md-inline-block ml-1">Diogo Oliveira <i class="mdi mdi-chevron-down"></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                    <div class="dropdown-divider"></div>
                                    <router-link to="/logout"><i class="dripicons-exit text-muted"></i> Sair</router-link>
                                </div>
                            </li>
                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle--> <a class="navbar-toggle nav-link">
                                    <div class="lines"><span></span> <span></span> <span></span></div>
                                </a><!-- End mobile menu toggle-->
                            </li>
                        </ul>
                    </div><!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div><!-- end container -->
            </div><!-- end topbar-main -->
            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            
                            <li class="has-submenu">
                                <router-link to="/principal"><i class="dripicons-home"></i> Principal</router-link>
                            </li>
                            <li class="has-submenu">
                                <router-link to="/professores"><i class="dripicons-graduation"></i> Gerenciar Professores</router-link>
                            </li>
                            <li class="has-submenu">
                                <router-link to="/cursos"><i class="dripicons-to-do"></i> Gerenciar Cursos</router-link>
                            </li>
                            <li class="has-submenu">
                                <router-link to="/alunos"><i class="dripicons-user"></i>  Gerenciar Alunos</router-link>
                            </li>
                        </ul><!-- End navigation menu -->
                    </div><!-- end #navigation -->
                </div><!-- end container -->
            </div><!-- end navbar-custom -->
        </header><!-- End Navigation Bar-->
    </div><!-- header-bg -->
</template>