<template>
    <div class="account-pages">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="p-2">
                                <h4 class="text-muted float-center font-18 mt-4">Criar Conta</h4>
                            </div>
                            <div class="p-2">
                                <form class="form-horizontal m-t-20" @submit.prevent="register" method="post"
                                    action="">
                                    <div class="form-group row">
                                            <label for="email" class="col-md-3 col-form-label text-md-center">Nome</label>
                
                                            <div class="col-md-9">
                                                <input type="text" v-model="form.name" class="form-control" value="admin@admin.com.br" required>
                                            </div>
                                        </div>
                                    <div class="form-group row">
                                            <label for="email" class="col-md-3 col-form-label text-md-center">E-mail</label>
                
                                            <div class="col-md-9">
                                                <input type="email" v-model="form.email" class="form-control" value="admin@admin.com.br" required>
                                            </div>
                                        </div>
                
                                        <div class="form-group row">
                                            <label for="password" class="col-md-3 col-form-label text-md-center">Senha</label>
                
                                            <div class="col-md-9">
                                                <input id="password" type="password" v-model="form.password" class="form-control" value="password"  name="password" required autocomplete="current-password">
                                            </div>
                                        </div>
                                    <div class="form-group text-center row m-t-20">
                                        <div class="col-12"><button
                                                class="btn btn-primary btn-block waves-effect waves-light"
                                                type="submit">Criar Conta</button></div>
                                    </div>
                                    <div class="form-group m-t-10 mb-0 row">
                                        <div class="col-sm-10 m-t-40">
                                            <router-link to="/">Voltar</router-link></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- jQuery  -->
</template>

<script>
import { http } from '../http'
import router from '../router'

export default {
    data: () => ({
        form: {
            name: '',
            email: '',
            password: ''
        }
    }),
    methods: {
        register: function () {
            let data = {
                name: this.form.name,
                email: this.form.email,
                password: this.form.password
            }
            http.post('register', data).then(res =>{
                this.$router.push({ name: '/' })
            })
        }
    }
}
</script>