<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Login from './components/Login'
export default {
  components: {
    Login
  },
  computed: {
    showNavbar () {
      return this.$route.name !== 'home' && this.$route.name !== 'login'
    }
  }
}
</script>

<style lang="scss">
</style>