<template>
<div id="professor">
<Header/>
 <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0">Adicionar Cursos</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right d-none d-md-block">
                                    <div class="dropdown">
                                        <router-link to="professores"><button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false"><i
                                                class="ti-angle-left mr-1"></i> Voltar</button></router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end page title end breadcrumb -->
            <form @submit.prevent="add" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Nome</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            name="cur_nome" v-model="form.cur_nome" placeholder="Digite o nome do Curso" required></div>
                                </div>
                                <div class="form-group row"><label for="example-date-input"
                                        class="col-sm-2 col-form-label">Professor</label>
                                    <div class="col-sm-10">
                                        <select name="cur_pro_id" class="form-control" v-model="form.cur_pro_id" required>
                                            <option v-for="p in professores" v-bind:key="p.id" v-bind:value="p.id">{{ p.pro_nome }}</option>
                                        </select>
                                        </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Adicionar Curso</button>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </form>
        </div><!-- end container-fluid -->
    </div><!-- end wrapper -->
<Footer/>
</div>
</template>

<script>
import Header from '../../components/Header'
import Footer from '../../components/Footer'
import { http } from '../../http'
import router from '../../router'
export default {

    name: 'ProfessorAdd',
    components: {
      Header,
      Footer
    },
    created() {
    this.getProfessores();
    },
 data: () => ({

    professores: [],
        form: {
            cur_nome: '',
            cur_pro_id: ''
        }
    }),
    methods: {
        add: function () {
            let data = {
                cur_nome: this.form.cur_nome,
                cur_pro_id: this.form.cur_pro_id,
            }
            http.post('curso', data).then(res =>{
                this.$router.push({ name: 'cursos' })
            }).catch(err => {
                if(err.status === 422){
                    alert("Verifique os campos obrigatórios")
                }
            })
        },
        getProfessores() {
            this.$http.get('professor').then(res => {
                this.professores = res.data;
        });
    }
    }
}
</script>