<template>
<div id="professor">
<Header/>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0">Listagem de Curso</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right d-none d-md-block">
                                    <div class="dropdown">
                                        <router-link to="adicionar-curso"><button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false"><i class="ti-plus mr-1"></i> Adicionar Curso</button></router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nome do Curso</th>
                                        <th>Nome do Professor</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="curso in cursos" v-bind:key="curso.id">
                                            <td>{{ curso.cur_nome }}</td>
                                            <td>{{ curso.professor.pro_nome }}</td>
                                            <td>
                                                <router-link :to="'/curso/' + curso.id">Editar</router-link> | 
                                                <router-link :to="'/curso-remover/' + curso.id">Excluir</router-link> 
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end wrapper -->
<Footer/>
</div>
</template>

<script>
import Header from '../../components/Header'
import Footer from '../../components/Footer'
export default {

  data: () => ({
    cursos: []
  }),
    name: 'Principal',
    components: {
      Header,
      Footer
    },
    created() {
    this.getCursos();
  },
  methods: {
    getCursos() {
      this.$http.get('curso').then(res => {
        this.cursos = res.data;
      });
    }
  }
}
</script>