<template>
<div id="professor">
<Header/>
 <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0">Adicionar Professor</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right d-none d-md-block">
                                    <div class="dropdown">
                                        <router-link to="professores"><button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false"><i
                                                class="ti-angle-left mr-1"></i> Voltar</button></router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end page title end breadcrumb -->
            <form @submit.prevent="add" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="form-group row"><label for="example-text-input"
                                        class="col-sm-2 col-form-label">Nome</label>
                                    <div class="col-sm-10"><input class="form-control" type="text"
                                            v-model="form.pro_nome" placeholder="Digite o nome do Professor" required></div>
                                </div>
                                <div class="form-group row"><label for="example-date-input"
                                        class="col-sm-2 col-form-label">Date de Nacimento</label>
                                    <div class="col-sm-10"><input class="form-control" type="date" v-model="form.pro_dtnascimento"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Adicionar Professor</button>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </form>
        </div><!-- end container-fluid -->
    </div><!-- end wrapper -->
<Footer/>
</div>
</template>

<script>
import Header from '../../components/Header'
import Footer from '../../components/Footer'
import { http } from '../../http'
import router from '../../router'
export default {

    name: 'ProfessorAdd',
    components: {
      Header,
      Footer
    },
 data: () => ({
        form: {
            pro_nome: '',
            pro_dtnascimento: ''
        }
    }),
    methods: {
        add: function () {
            let data = {
                pro_nome: this.form.pro_nome,
                pro_dtnascimento: this.form.pro_dtnascimento,
            }
            http.post('professor', data).then(res =>{
                this.$router.push({ name: 'professores' })
            }).catch(err => {
                if(err.status === 422){
                    alert("Verifique os campos obrigatórios")
                }
            })

        }
    }
}
</script>