<template>
<div id="remove">
</div>
</template>


<script>
import { http } from '../../http'
import router from '../../router'


export default {
  data: () => ({
    professors: {}

    
  }),
    name: 'Principal',
    created() {
    this.del();
  },
  methods: {
    del: function () {
            http.delete('professor/'+this.$route.params.id).then(res =>{
            this.$router.push({ name: 'professores' })
        })
    }
  }
}
</script>